<div class="form-serch col-12 col-sm-8 col-md-8 col-lg-6">

	{{ form_start(formSearch , {'attr': {'id': 'formSearch'}}) }}


	<div class="form-row">
		<div class="form-group col-12  col-sm-12 col-md-12 col-lg-12">

			{{ form_widget(formSearch.q) }}

		</div>


	</div>


	<div class="form-row">
		<div class="form-group col-6 col-sm-4 col-md-4 col-lg-4">
			{{ form_label(formSearch.checkIn) }}
			{{ form_widget(formSearch.checkIn) }}

		</div>

		<div class="form-group col-6 col-sm-4 col-md-4 col-lg-4">

			{{ form_label(formSearch.checkOut) }}
			{{ form_widget(formSearch.checkOut) }}

		</div>
		<div class="form-group col-sm-4 col-md-4 col-lg-4">
			<label>
				Price
			</label>
			<div class="d-flex pt-2">
				<small for="price-filterm " class="mr-2">{{minPrice}}€</small>
				<input id="price-filter" type="text" class="" value="" data-slider-min="{{minPrice}}" data-slider-max="{{maxPrice}}" data-slider-step="10" data-slider-value="[{{minPrice}},{{maxPrice}}]" name="filtre-price"/>
				<small for="price-filter" class="ml-2">{{maxPrice}}€</small>
			</div>
		</div>
		<div class="mx-auto">
			<button class="btn btn-primary" type="button" id="fast-Search">Search</button>

		</div>

	</div>


	{{ form_end(formSearch) }}


</div>
