{% extends "base.html.twig" %}

{% block title %}
				Resset Password
			{% endblock %}

{% block stylesheets %}
	<link href="{{asset('assets/css/form.css')}}" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block body %}

<div class="container">


<div class="form-box card border-light   mb-3 col-6">
			<div class="card-header d-flex justify-content-between">
			<h4 class="card-title">Reset Password</h4>
		
			</div>
			<div class="card-body">
			
                
				{{form_start(resetPasswordForm   , {'attr' : {'id' : 'reset-pass-form'} }  )}}

                 {{form_widget(resetPasswordForm)}}

               <input type="submit" class="btn btn-primary" value="Send to your email" id="submit-form">

           {{form_end(resetPasswordForm)}}



		</div>
	</div>








</div>





{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/js/validate-form.js')}}"></script>



{% endblock %}