{% extends "base.html.twig" %}

{% block title %}
	Update Password
{% endblock %}

{% block stylesheets %}
	<link href="{{asset('assets/css/form.css')}}" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block body %}

	<div class="container">


		<div class="form-box card border-light   mb-3 col-6">
			<div class="card-header d-flex justify-content-between">
				<h4 class="card-title">Update Password</h4>

			</div>
			<div class="card-body">


				{{form_start(updatePasswordForm   , {'attr' : {'id' : 'update-pass-form'} }  )}}

				{{form_widget(updatePasswordForm)}}

				<input type="submit" class="btn btn-primary" value="Update password" id="submit-form">

				{{form_end(updatePasswordForm)}}


			</div>
		</div>


	</div>


{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/validate-form.js')}}"></script>

{% endblock %}
